<h1>掲示板アプリ</h1>
<div>
  <% @posts.each do |post| %>
    <div>
      <p><strong>-------------------</strong></p>
      <p><strong>ID:</strong> <%= post.id %></p>
      <p><strong>投稿日時:</strong> <%= post.created_at %></p>
      <p><strong>本文:</strong> <%= post.body %></p>
    </div>
  <% end %>
</div>
<%= form_with(model: @post, url: posts_create_url) do |form| %>
  <div>
    <%= form.label :body, "本文" %>
    <%= form.text_area :body, rows: 4 %>
  </div>

  <div>
    <%= form.submit "送信" %>
  </div>
<% end %>
